@*    <div id="dvPartial"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(BindPartialView, 1000);
        });

        function BindPartialView() {
            $.ajax({
                type: "POST",
                url: "/Home/GetData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#dvPartial').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
*@
@*@{
    Layout = null;
}
*@
@*<!DOCTYPE html>

<html>
<body>
    <h4>Customers</h4>
    <hr />
    <div class="container">
        <div id="dvPartial"></div>
    </div>
</body>
</html>

<script type="text/javascript">
    $('document').ready(function () {
        setInterval(BindPartialView, 5000);
    });
    //$(function () {
    //    setInterval(BindPartialView, 1000);
    //});

    function BindPartialView() {
        $.ajax({
            type: "POST",
            url: "/Home/GetData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#dvPartial').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
*@
@model IList<CurrentStateViewModel>
@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(BindPartialView, 1000);
        });

        function BindPartialView() {
            $.ajax({
                type: "POST",
                url: "/Home/GetData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#results').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
}
    
    <div id="results" class="container">
</div>
@*<script type="text/javascript">
    setTimeout(function () {
        location = ''
    }, 5000)
</script>*@