<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <p>Удалить?</p>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-secondary">Нет</button>
            <button type="submit" class="btn btn-primary">Да</button>
        </div>
    </div>
</div>
