﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechAgro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <span class="logo">LOGO</span>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="#dosingSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Дозирование</a>
                        <ul class="collapse list-unstyled" id="dosingSubMenu">
                            <li>
                                <a href="/Balance/Index">Весы</a>
                            </li>
                            <li>
                                <a href="/Product/Index">Продукты</a>
                            </li>
                            <li>
                                <a href="/Silo/Index">Силосы</a>
                            </li>
                            <li>
                                <a href="/Resource/Index">Сырье</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#dictSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Справочники</a>
                        <ul class="collapse list-unstyled" id="dictSubmenu">
                            <li>
                                <a href="/AnimalGroup/Index">Группы животных</a>
                            </li>
                            <li>
                                <a href="/ArchiveMessage/Index">Сообщения архива</a>
                            </li>
                            <li>
                                <a href="/TaskMessage/Index">Сообщения заданий</a>
                            </li>
                            <li>
                                <a href="/DosingType/Index">Типы дозирования</a>
                            </li>
                            <li>
                                <a href="/SiloType/Index">Типы силосов</a>
                            </li>
                            <li>
                                <a href="/ResourceType/Index">Типы сырья</a>
                            </li>
                            <li>
                                <a href="/Area/Index">Участки</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Задания</a>
                    </li>
                    @if (@User.IsInRole("Администратор"))
                    {
                        <li>
                            <a href="/User/Index">Пользователи</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div id="content" class="p-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
                @RenderBody()
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>